:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --light-blue: #add8e6;
  --card-color: #e8f3f7;
  --main-text-color: #4682b4;
  --secondary-text-color: #6793b7;
  --top-banner-bg: #4682b4;
  --body-text-color: #64757b;
  --navbar-link-secondary: #ffc0cb;

  --home-header-bg: #2b5577;
}

html,
body {
  height: 100%;
  width: 100%;
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--light-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  height: 100vh;
}